<!-- your html code here -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Header</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" integrity="sha384-..." crossorigin="anonymous">
</head>
</style>
<body>
  <div class="container my-5">
    <div class="row">
        <div class="col-md-8">
            <p class="h2"><span><strong>This First Heading</strong></span> <span class="text-secondary"><strong>Will Catch Your Eye</strong></span></p>
            
            <p class="fs-5">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Prasent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p> 
        </div>
        <div class="col-md-4">
            <img src="assets/img/1.jpg" class="rounded-circle img-fluid" alt="..." style="max-width: 300px;">
        </div>
    </div>
</div>
</body>
</html>