<!-- your html code here -->
<div class="container">
      <div class="row mb-4">
        <h2 class="fw-bold">Portfolio</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum error
          excepturi earum sit tempora dolores fuga reiciendis quae ut possimus!
        </p>
        <div class="col-md-4">
          <div class="card border-0">
            <img src="https://picsum.photos/id/1/700/400" alt="" />
            <h4 class="text-primary">Project Name</h4>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam
              unde, impedit ad odio ipsum laudantium voluptatum tempore iste nam
              rerum! Esse voluptatibus totam optio officia quae impedit mollitia
              voluptate possimus!
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card border-0">
            <img src="https://picsum.photos/id/1/700/400" alt="" />
            <h4 class="text-primary">Project Name</h4>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam
              unde, impedit ad odio ipsum laudantium voluptatum tempore iste nam
              rerum! Esse voluptatibus totam optio officia quae impedit mollitia
              voluptate possimus!
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card border-0">
            <img src="https://picsum.photos/id/1/700/400" alt="" />
            <h4 class="text-primary">Project Name</h4>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam
              unde, impedit ad odio ipsum laudantium voluptatum tempore iste nam
              rerum! Esse voluptatibus totam optio officia quae impedit mollitia
              voluptate possimus!
            </p>
          </div>
        </div>
      </div>
    </div>